.header {
  position: relative;
  background-image: linear-gradient(to right top, #7e35e1, #965ce6, #ac7fe9, #c0a1ec, #d4c2ed);
  height: 11vh;
  flex-wrap: wrap;
  border-bottom-left-radius: 45% 42%;
  border-bottom-right-radius: 70% 42%;

}
