
  <mat-toolbar-row >

    <div class="flex flex-wrap justify-center">
      <!-- <img   src=".././../../assets/img/BookMeV2.png"  class="object-fill" alt=""> -->
      <a mat-button [routerLink]="'/accounts'">
        <i class="pi pi-home" style="font-size: 2rem"></i>
        Inicio </a>
      <a mat-button [routerLink]="'/create-account'">
        <i class="pi pi-calendar-plus" style="font-size: 2rem"></i>
         Disponibilidad </a>
      <a mat-button [routerLink]="'/contacts'">
        <i class="pi pi-bell" style="font-size: 2rem"></i>
        Notificaciones </a>


    </div>
  </mat-toolbar-row>

