
<!DOCTYPE html>
<html>

<head>
  <title>BookMe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <section class="curved">
    <img class="logo" src="../assets/img/BookMeV2.png" alt="">
    <div class="flex flex-wrap justify-center text-5xl font-bold ">
      <p class="top-20" > Planifica tus reuniones más rápido con BookMe</p>
    </div>
   <div class="flex flex-wrap justify-center items-center w-3/4 ">

    <button pButton type="button" label="Empezar" class="myButton" (click)="toPages()"></button>
    <!-- <button pButton type="button" class="p-button-raised p-button-rounded inset-x-0 top-40 6">Empezar</button> -->
  </div>

  <div class="flex flex-wrap items-center justify-center h-screen  object-center ">
    <img  src="../assets/img/calander.svg" alt="">
  </div>
  </section>
</body>

</html>


